<footer class="footer bg-dark text-white p-5" id="contact">
  <div class="container-fluid">
    <small class="d-flex justify-content-center"
      >Your Store Partner for all good Products...</small
    >
    <hr />
    <div class="grid">
      <div class="row align-items-center mt-5">
        <div class="col-md-3 col-sm-6">
          <p>Copyright &copy; 2022</p>
          <small class="dance-font"
            >Best Clothing Store <br />
            Pretoria , Gezina <br />
            , South Africa</small
          >
        </div>
        <div class="col-md-3 col-sm-6">
          <p class="h4">Social Media</p>
          <div class="d-flex justtify-content-around">
            <a href="#" class="text-primary m-1"
              ><i class="fab fa-facebook"></i
            ></a>
            <a href="#" class="text-light m-1"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="#" class="text-info m-1"
              ><i class="fab fa-linkedin"></i
            ></a>
            <a href="#" class="text-danger m-1"
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="#" class="text-warning m-1"
              ><i class="fab fa-instagram m-1"></i
            ></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <ul class="navbar-nav ms-auto fw-bold">
            <li class="nav-item px-3 text-orangered">
              <a routerLink="/" class="nav-link text-white">Home</a>
            </li>
            <li class="nav-item px-3 text-orangered">
              <a routerLink="/about" class="nav-link text-white">About</a>
            </li>
            <li class="nav-item px-3 text-orangered">
              <a routerLink="/products" class="nav-link text-white">Products</a>
            </li>
            <li class="nav-item px-3 text-orangered">
              <a routerLink="/blogs" class="nav-link text-white">blogs</a>
            </li>
            <li class="nav-item px-3 text-orangered">
              <a routerLink="/contact" class="nav-link text-white">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <p class="h4 fst-italic">Send Us a Message</p>
          <form>
            <div class="mb-2">
              <input type="text" class="form-control" placeholder="Your Name" />
            </div>
            <div class="mb-2">
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <div class="mb-2">
              <input
                type="number"
                class="form-control"
                placeholder="Your Mobile"
              />
            </div>
            <div class="mb-2">
              <textarea
                rows="3"
                class="form-control"
                placeholder="Your Text"
              ></textarea>
            </div>
            <div class="mb-2">
              <input type="submit" class="btn btn-warning" value="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
