<nav class="navbar sticky-top navbar-expand-lg bg-dark">
  <div class="container-fluid bg-dark">
    <a class="navbar-brand fw-bold fs-2 text-white px-3" routerLink="/"
      >Angular_Ecommerce</a
    >
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i
      ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item active">
          <a class="nav-link text-white fw-bold fs-5" routerLink="/">Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-5" routerLink="/products"
            >Products</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-5" routerLink="/blogs"
            >Blogs</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-5" routerLink="/about"
            >About</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-5" routerLink="/contact"
            >Conatct</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/cart"
            ><i class="fas fa-shopping-cart fs-3"></i>
            <div class="badge bg-danger">{{ totalItem }}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
