<app-hero [header]="hero"></app-hero>

<section class="container">
  <h2 class="mt-5 text-center mt-5">OUR BLOG PAGE</h2>
  <p class="text-center">Stay Up to Date with Our News and Stories</p>
  <div class="row">
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/336372/pexels-photo-336372.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/994523/pexels-photo-994523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/322207/pexels-photo-322207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-5 position-relative">
      <div class="card">
        <div class="card-header">
          <div class="card-img-top">
            <img
              class="img-fluid"
              src="https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 "
              alt="blog image"
            />
          </div>
        </div>
        <div class="card-body">
          <div class="blog-details">
            <h4 class="card-title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur facere fugiat eligendi dolorum mollitia vero, ut fugit
              consequatur quos! Eaque temporibus obcaecati natus qui cum?
            </p>
            <a class="btn btn-outline-primary" href="/blogs/:blogId"
              >CONTINUE READING</a
            >
          </div>
          <h1
            class="position-absolute top-0 start-50 translate-middle text-secondary"
          >
            13/01
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<app-pagination></app-pagination>

<app-news-letter></app-news-letter>
